.header {
	position: fixed;
	inset: 0 0 auto 0;
	z-index: 100;
	padding: 0.5rem 1rem;
	pointer-events: none;
}

.header::before {
	position: absolute;
	inset: 0 0 auto 0;
	display: block;
	height: 150px;
	background: linear-gradient(
		to bottom,
		rgba(19, 21, 22, 1),
		rgba(19, 21, 22, 0)
	);
	content: "";
}

.header :where(a, button, [onclick]) {
	pointer-events: all;
}

.header__inner {
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.header__logo-cont {
	display: block;
	flex-shrink: 0;
	background: none;
	text-decoration: none;
}

.header__logo {
	width: var(--logo-width);
}

@media (min-width: 64em) {
	.header {
		padding: 1rem 2rem;
	}

	.header::before {
		height: 248px;
	}
}
