/*=============================*/
/*=====----- GENERAL -----=====*/
/*=============================*/

.nav__item,
.nav__expand,
.mobile-nav__child {
	position: relative;
	display: block;
	padding: 0;
	margin: 0;
	background: none !important;
	border: none;
	font-family: var(--font-body);
	font-weight: var(--font-weight-extrabold);
	line-height: calc(11 / 9);
	letter-spacing: 0.2em;
	text-decoration: none !important;
	text-transform: uppercase;
	color: var(--white);
}

.nav__parent,
.mobile-nav__parent {
	position: relative;
	z-index: 2;
}

.nav__dropdown,
.mobile-nav__dropdown {
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: 8px;
	background: rgba(255, 255, 255, 0.75);
	backdrop-filter: blur(60px);
	box-shadow: var(--soft-shadow);
	border: var(--border-width) solid var(--white);
	border-radius: var(--border-radius);
	text-align: left;
	color: var(--dark-color);
	opacity: 0;
	pointer-events: none;
	transition: transform var(--transition), opacity var(--transition);
}

.nav__dropdown::before {
	position: absolute;
	display: block;
	width: 16px;
	aspect-ratio: 1;
	border: 8px solid transparent;
	content: "";
}

.nav__dropdown--open,
.mobile-nav__dropdown--open {
	opacity: 1;
	pointer-events: all;
}

.nav__item--child,
.mobile-nav__child {
	padding: 4px 20px;
	color: inherit;
	pointer-events: inherit;
}

.mobile-nav__child--artstation,
.mobile-nav__child--instagram,
.mobile-nav__child--bluesky,
.mobile-nav__child--tumblr,
.mobile-nav__child--youtube,
.mobile-nav__child--shop-prints,
.mobile-nav__child--shop-digital,
.mobile-nav__child--subscribe,
.nav__item--artstation,
.nav__item--instagram,
.nav__item--bluesky,
.nav__item--tumblr,
.nav__item--youtube,
.nav__item--shop-prints,
.nav__item--shop-digital,
.nav__item--subscribe {
	display: grid;
	grid-template-columns: 22px minmax(0, 1fr);
	align-items: center;
	gap: 16px;
}

.mobile-nav__child::before,
.nav__item--child::before {
	justify-self: center;
	font: var(--fa-font-brands);
	font-weight: 900;
}

.mobile-nav__child--shop-prints::before,
.mobile-nav__child--shop-digital::before,
.nav__item--shop-prints::before,
.nav__item--shop-digital::before {
	font: var(--fa-font-solid);
}

.mobile-nav__child--artstation::before,
.nav__item--artstation::before {
	content: "\f77a";
}

.mobile-nav__child--instagram::before,
.nav__item--instagram::before {
	content: "\f16d";
}

.mobile-nav__child--bluesky::before,
.nav__item--bluesky::before {
	width: 100%;
	height: 1em;
	content: "";
	background: url("/images/icons-logos/bluesky-logo.svg") no-repeat center
		center / contain;
}

.mobile-nav__child--tumblr::before,
.nav__item--tumblr::before {
	content: "\f173";
}

.mobile-nav__child--youtube::before,
.nav__item--youtube::before {
	content: "\f167";
}

.mobile-nav__child--shop-prints::before,
.nav__item--shop-prints::before {
	content: "\f290";
}

.mobile-nav__child--shop-digital::before,
.nav__item--shop-digital::before {
	content: "\f0c7";
}

.mobile-nav__child--subscribe::before,
.nav__item--subscribe::before {
	content: "\f3d9";
}

/*================================*/
/*=====----- HEADER NAV -----=====*/
/*================================*/

.nav,
.nav__items {
	display: flex;
	align-items: center;
	gap: 40px;
}

.nav__items {
	display: none;
}

.nav__item,
.nav__expand {
	font-size: 1.125rem;
}

.nav__item::after,
.nav__expand::after {
	position: absolute;
	inset: auto auto -12px 50%;
	transform: translate(-50%, 16px);
	display: block;
	width: 8px;
	aspect-ratio: 1;
	background: var(--white);
	border-radius: 50%;
	opacity: 0;
	content: "";
	pointer-events: none;
	transition: opacity var(--transition), transform var(--transition);
}

/*----- parent nav item -----*/

.nav__dropdown {
	inset: auto auto -16px 50%;
	transform: translate(-50%, calc(100% + 16px));
	width: 270px;
	padding: 16px 0;
}

.nav__dropdown::before {
	inset: 0 auto auto 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	border-radius: 4px 0 0 0;
	border-top-color: var(--white);
	border-left-color: var(--white);
}

.nav__item--child::after {
	display: none;
}

/*----- open dropdown -----*/

.nav__expand--open::before {
	transform: translate(-50%, 16px);
	opacity: 0;
}

.nav__dropdown--open {
	transform: translate(-50%, 100%);
}

/*----- active nav item -----*/

.nav__item--current::after {
	transform: translateX(-50%);
	opacity: 1;
}

/*----- media queries -----*/

@media (hover: hover) {
	.nav__item:hover::after,
	.nav__expand:not(.nav__expand--open):hover::after {
		transform: translateX(-50%);
		opacity: 1;
	}
}

@media (min-width: 64em) {
	.nav__items {
		display: flex;
	}
}

@media (min-width: 90em) {
	.nav {
		gap: 60px;
	}
}

/*===================================*/
/*=====----- HEADER BUTTON -----=====*/
/*===================================*/

.nav__cta {
	gap: 12px;
	padding: 8px 12px;
	backdrop-filter: blur(40px);
	font-size: var(--text-sm);
}

.nav__cta::before {
	display: none;
	font-size: 0.875rem;
}

/*----- media queries -----*/

@media (min-width: 23.4375em) {
	.nav__cta::before {
		display: block;
	}
}

@media (min-width: 26em) {
	.nav__cta {
		padding: 10px 24px;
	}
}

@media (min-width: 64em) {
	.nav__cta {
		gap: 16px;
		font-size: 1rem;
	}
}

@media (min-width: 90em) {
	.nav__cta {
		padding: 12px 32px;
		font-size: 1.125rem;
	}

	.nav__cta::before {
		font-size: 1.125rem;
	}
}

/*================================*/
/*=====----- MOBILE NAV -----=====*/
/*================================*/

.mobile-nav {
	position: fixed;
	inset: auto 8px 8px 8px;
	z-index: 100;
	transform: none;
	padding: 0 12px 12px;
	text-align: center;
	color: var(--white);
	opacity: 1;
	transition: transform var(--transition), opacity var(--transition);
}

.mobile-nav--hide {
	transform: translateY(calc(100% + 16px));
}

.mobile-nav::before {
	position: absolute;
	inset: 30px 0 0 0;
	z-index: 1;
	display: block;
	background: rgba(255, 255, 255, 0.05);
	border: var(--light-border);
	border-radius: var(--border-radius);
	box-shadow: var(--soft-shadow);
	backdrop-filter: blur(40px);
	content: "";
	pointer-events: none;
}

.mobile-nav__inner {
	position: relative;
	z-index: 2;
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 10px;
	padding: 4px;
	background: var(--accent-color);
	border-radius: var(--border-radius);
	box-shadow: var(--soft-shadow);
}

.mobile-nav__item,
.mobile-nav__expand {
	position: relative;
	transform: none;
	display: grid;
	grid-template: 24px minmax(0, 1fr) / minmax(0, 1fr);
	gap: 8px;
	width: 100%;
	height: 100%;
	padding: 8px 10px;
	background-color: transparent;
	border: none;
	border-radius: 6px;
	box-shadow: none;
	font-family: var(--font-body);
	font-weight: var(--font-weight-bold);
	font-size: 0.5rem;
	line-height: 1.25;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-decoration: none !important;
	color: inherit;
	transition: background-color var(--transition), color var(--transition),
		box-shadow var(--transition), transform var(--transition);
}

:where(.mobile-nav__item, .mobile-nav__expand)::before {
	font: var(--fa-font-solid);
	font-size: 1.5rem;
	line-height: 1;
	align-self: center;
}

:where(.mobile-nav__item--gallery, .mobile-nav__expand--gallery)::before {
	content: "\f302";
}

:where(.mobile-nav__item--cv, .mobile-nav__expand--cv)::before {
	content: "\f0b1";
}

:where(.mobile-nav__item--shop, .mobile-nav__expand--shop)::before {
	content: "\f290";
}

:where(.mobile-nav__item--social, .mobile-nav__expand--social)::before {
	content: "\23";
}

/*----- parent nav item -----*/

.mobile-nav__parent::before {
	position: absolute;
	inset: -17px auto auto 50%;
	z-index: 2;
	transform: translate(-50%, calc(-50% - 24px)) rotate(45deg);
	display: block;
	width: 16px;
	aspect-ratio: 1;
	border: 8px solid transparent;
	border-radius: 0 0 4px;
	border-right-color: var(--white);
	border-bottom-color: var(--white);
	content: "";
	pointer-events: none;
	opacity: 0;
	transition: transform var(--transition), opacity var(--transition);
}

.mobile-nav__dropdown {
	inset: -16px auto auto 50%;
	transform: translate(-50%, calc(-100% - 24px));
	width: 230px;
	padding: 12px 0;
}

.mobile-nav__parent:last-child .mobile-nav__dropdown {
	left: auto;
	right: 0;
	transform: translateY(calc(-100% - 24px));
}

.mobile-nav__child {
	font-size: 0.9rem;
}

.mobile-nav__child::after {
	display: none;
}

/*----- open dropdown -----*/

.mobile-nav__parent--expanded::before {
	transform: translate(-50%, calc(-50% - 8px)) rotate(45deg);
	opacity: 1;
}

.mobile-nav__dropdown--open {
	transform: translate(-50%, calc(-100% - 8px));
}

.mobile-nav__parent:last-child .mobile-nav__dropdown--open {
	transform: translateY(calc(-100% - 8px));
}

/*----- active nav item -----*/

.mobile-nav__item--current,
.mobile-nav__expand--open {
	transform: translateY(-12px);
	background-color: var(--white);
	color: var(--accent-color);
	box-shadow: var(--med-shadow);
}

/*----- media queries -----*/

@media (min-width: 23.4375em) {
	.mobile-nav {
		inset: auto 16px 16px 16px;
		padding: 0 24px 20px;
	}
}

@media (min-width: 64em) {
	.mobile-nav {
		display: none;
	}
}
