/*=============================*/
/*=====----- GENERAL -----=====*/
/*=============================*/

.bio__img-cont {
	position: relative;
	z-index: 2;
	max-width: 300px;
	aspect-ratio: 1;
	margin: 0 auto;
}

.bio-home__img-cont::before,
.bio-home__img-cont::after,
.bio__img-cont::before,
.bio__img-cont::after {
	position: absolute;
	display: block;
	content: "";
	pointer-events: none;
}

.bio-home__img-cont::before,
.bio__img-cont::before {
	inset: -8px 8px 8px -8px;
	z-index: 3;
	border: var(--light-border);
	border-radius: var(--border-radius);
}

.bio-home__img-cont::after,
.bio__img-cont::after {
	inset: 0;
	z-index: 2;
	background: linear-gradient(
		135deg,
		rgba(232, 52, 119, 0),
		rgba(232, 52, 119, 0.2)
	);
	border-radius: var(--border-radius);
}

.bio__img {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: var(--border-radius);
	box-shadow: var(--soft-shadow);
}

/*=========================*/
/*=====----- BIO -----=====*/
/*=========================*/

/*============================*/
/*=====----- RESUME -----=====*/
/*============================*/

.resume {
	background: var(--gray-cool-light);
	color: var(--dark-color);
}

.resume__title-row {
	margin-bottom: 32px;
}

.resume__button-cont {
	display: flex;
	justify-content: center;
	padding: 16px 0;
}

.resume__item-title {
	color: var(--red);
}

.resume__sub-items {
	display: grid;
	gap: 32px;
}

.resume__sub-items--bordered {
	gap: 16px;
}

.resume__sub-items--bordered .resume__sub-item {
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom: var(--gray-border);
}

.resume__sub-item--bordered:first-child {
	padding-top: 0;
}

.resume__sub-items--bordered .resume__sub-item:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

.resume__sub-item-title {
	line-height: 1.5;
}

.resume__sub-item-year {
	display: block;
	margin-bottom: 6px;
	font-size: 0.9rem;
	font-weight: var(--font-weight-normal);
}

.resume__sub-item-role {
	padding: 4px 8px;
	background: var(--red);
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
	color: var(--light-color);
}

.resume__sub-item-company {
	display: block;
	margin-top: 6px;
}

.resume__sub-item-content {
	padding: 16px 0 16px 16px;
	margin-right: 16px;
	border-left: var(--border-width) solid var(--gray-cool);
	border-bottom: var(--border-width) solid var(--gray-cool);
	border-radius: 0 0 0 var(--border-radius);
}

.resume__sub-item-content p:last-child {
	margin: 0;
}

.resume__list {
	display: grid;
	gap: 8px;
	list-style: none;
	margin: 0 0 1em 0;
	padding: 0;
}

.resume__list li {
	margin: 0;
	padding: 0;
}

.resume__hr {
	max-width: 240px;
	margin: 64px auto;
	background: var(--red);
}

@media (min-width: 40em) {
	.resume__title-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 16px;
		margin-bottom: 48px;
	}

	.resume__title {
		margin: 0;
		text-align: left;
	}

	.resume__title::after {
		margin: 0.5rem 0 0 0;
	}
}

@media (min-width: 64em) {
	.resume__sub-items {
		gap: 48px;
	}

	.resume__sub-items--bordered {
		gap: 16px;
	}

	.resume__sub-item-content {
		margin-right: 0;
		padding: 16px 0 32px 32px;
	}
}
