.gallery {
	position: relative;
	margin-top: 80px;
	padding: 40px 16px 64px;
}

.gallery__title-row {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	gap: 16px;
	width: 100%;
	max-width: var(--width-wide);
	margin: 0 auto;
}

@media (min-width: 64em) {
	.gallery {
		margin-top: 160px;
		padding: 40px 8px 96px;
	}
}
