/*=============================*/
/*=====----- GENERAL -----=====*/
/*=============================*/

.showcase {
	min-height: 100vh;
	margin-top: 80px;
}

.showcase__inner {
	max-width: 1920px;
	margin: 0 auto;
}

.showcase__grid {
	margin-top: 32px;
}

/*===============================*/
/*=====----- SLIDESHOW -----=====*/
/*===============================*/

.showcase__slider,
.showcase__track {
	position: relative;
	z-index: 2;
}

.showcase__slider:global(.glide) {
	width: calc(100% - 32px);
	margin: 0 auto;
}

.showcase__arrows {
	position: absolute;
	inset: 50% -16px auto;
	z-index: 3;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
	pointer-events: none;
}

.showcase__bullets {
	display: none;
	position: absolute;
	inset: auto 0 -32px 0;
	transform: translateY(100%);
	margin: 0;
}

.showcase__arrow {
	pointer-events: all;
}

.showcase__track {
	position: relative;
}

.showcase__slides:global(.glide__slides) {
	position: static;
	transform: none !important;
	align-items: center;
}

.showcase__slide:global(.glide__slide) {
	position: relative;
	z-index: 3;
	height: auto;
	opacity: 0;
	pointer-events: none;
	transition: opacity var(--transition);
}

.showcase__slide--active:global(.glide__slide) {
	opacity: 1;
	pointer-events: all;
}

.showcase__slide:global(.glide__slide)
	+ .showcase__slide:global(.glide__slide) {
	position: absolute;
	inset: 0;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.showcase__image {
	width: 100%;
	border-radius: var(--border-radius);
}

.showcase iframe {
	aspect-ratio: 16 / 9;
	width: 100%;
	height: auto;
	border-radius: var(--border-radius);
	overflow: hidden;
}

/*=============================*/
/*=====----- CONTENT -----=====*/
/*=============================*/

.showcase__content {
	position: relative;
	z-index: 1;
	width: auto;
	max-width: none;
	padding-top: 80px;
	margin-top: -48px;
}

.showcase__title small {
	display: block;
	margin: 0.25rem 0 1rem;
	font-family: var(--font-body);
	font-size: 0.4em;
}

.showcase__button-row {
	margin-top: 48px;
}

/*===============================*/
/*=====----- NEIGHBORS -----=====*/
/*===============================*/

.neighbors {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	align-items: start;
	gap: 24px;
	margin-top: 48px;
}

.neighbor {
	position: relative;
	z-index: 1;
	width: 80%;
	max-width: 400px;
}

.neighbor::before {
	transition: transform var(--transition);
}

.neighbor::after {
	opacity: 1;
	transition: opacity var(--transition);
}

.neighbor--next {
	z-index: 2;
	margin-left: auto;
	text-align: right;
}

.neighbor__link {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	gap: 32px;
	padding: 16px;
	aspect-ratio: 5 / 3;
	background: var(--dark-color);
	border-radius: var(--border-radius);
	box-shadow: var(--soft-shadow);
	overflow: hidden;
	text-decoration: none !important;
	color: var(--light-color);
}

.neighbor--next .neighbor__link {
	align-items: flex-end;
}

.neighbor__button,
.neighbor__title {
	position: relative;
	z-index: 3;
}

.neighbor__button {
	box-shadow: var(--med-shadow);
}

.neighbor__image {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.75;
	transition: opacity var(--transition);
}

.neighbor__title {
	display: block;
	font-family: var(--font-body);
	font-weight: var(--font-weight-extrabold);
	font-size: var(--text-base);
	letter-spacing: 0.2em;
	line-height: 1;
	text-transform: uppercase;
	opacity: 1;
	transition: opacity var(--transition);
}

.neighbor__light-title {
	display: block;
	font-weight: normal;
}

/*===================================*/
/*=====----- MEDIA QUERIES -----=====*/
/*===================================*/

@media (hover: hover) {
	.neighbor:hover::before {
		transform: none;
	}

	.neighbor:hover::after,
	.neighbor:hover .neighbor__title {
		opacity: 0;
	}

	.neighbor:hover .neighbor__button {
		background-color: var(--white);
		color: var(--dark-color);
	}

	.neighbor:hover .neighbor__image {
		opacity: 1;
	}
}

@media (min-width: 40em) {
	.neighbors {
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: 0;
		max-width: 640px;
		margin: 48px auto 0;
	}

	.neighbor {
		width: calc(100% + 8px);
		max-width: none;
	}

	.neighbor--prev {
		margin-right: -8px;
	}

	.neighbor--next {
		grid-column: 2;
		margin: 32px 0 0 -8px;
	}
}

@media (min-width: 64em) {
	.showcase {
		margin-top: 20px;
	}

	.showcase__grid {
		display: grid;
		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
		align-items: center;
	}

	.showcase__slider {
		width: 100%;
		margin: 0;
	}

	.showcase__bullets {
		display: flex;
	}

	.showcase__content {
		padding-top: 48px;
		padding-left: 100px;
		margin: 0 0 0 -48px;
	}

	.neighbors {
		max-width: none;
		margin: 48px 0 0 32px;
	}

	.neighbor__link {
		aspect-ratio: 4 / 3;
	}
}

@media (min-width: 75em) {
	.neighbors {
		margin-left: 60px;
	}

	.neighbor__link {
		aspect-ratio: 5 / 3;
	}
}

@media (min-width: 90em) {
	.showcase__grid {
		grid-template-columns: minmax(0, 4fr) var(--width-content);
	}

	.neighbor__title {
		font-size: var(--text-lg);
	}
}

@media (min-width: 130em) {
	.showcase__arrows {
		left: -24px;
		right: -24px;
	}
}
