@layer buttons {
	button,
	.button {
		box-shadow: none;
		cursor: pointer;
	}

	/* reset */
	button {
		appearance: none;
		padding: 0;
		margin: 0;
		border: none;
		background: none;
		font: inherit;
		color: var(--accent-color);
		font-weight: var(--font-weight-semibold);
	}

	/* end reset */

	button:focus {
		outline: var(--accent-color) solid 1px;
		outline-offset: 3px;
	}

	button:disabled {
		filter: grayscale(100%);
		opacity: 0.5;
		cursor: default;
		pointer-events: none;
	}

	.button {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		padding: 1.25em 3em;
		border: none;
		border-radius: 9999px;
		font-family: var(--font-body);
		font-weight: var(--font-weight-extrabold);
		font-size: 0.675em;
		line-height: 1;
		letter-spacing: 0.3em;
		text-decoration: none;
		text-align: center;
		text-transform: uppercase;
		opacity: 1;
		transition: background-color var(--transition),
			color var(--transition), opacity var(--transition);
	}

	.button--small {
		gap: 0.5rem;
		padding: 0.25em 0.5em;
		font-size: 0.65em;
		letter-spacing: 0.2em;
	}

	.button--mid {
		gap: 0.5rem;
		padding: 0.75em 1.25em;
		font-size: var(--text-sm);
		letter-spacing: 0.2em;
	}

	.button--large {
		gap: 0.75rem;
		padding: 1rem 2rem;
		font-size: var(--text-base);
		letter-spacing: 0.2em;
	}

	.button--primary {
		background: linear-gradient(
			to right,
			var(--accent-color),
			var(--yellow)
		);
		background-size: 200% 100%;
		background-position: 0 center;
		color: var(--light-color);
		transition: background-position var(--transition),
			color var(--transition);
	}

	.button--secondary {
		background-color: rgba(0, 0, 0, 0.35);
		border: var(--border-width) solid var(--accent-color);
		color: var(--accent-color);
		transition: background-color var(--transition),
			color var(--transition), border-color var(--transition),
			opacity var(--transition);
	}

	.button--hide {
		opacity: 0;
		pointer-events: none;
	}

	:where(
			.button--download,
			.button--shop,
			.button--shuffle,
			.button--add
		)::before,
	.button--arrow::after {
		display: block;
		flex-shrink: 0;
		font: var(--fa-font-solid);
		font-size: inherit;
		letter-spacing: 0;
	}

	.button--download::before {
		content: "\f019";
	}

	.button--shop::before {
		content: "\f290";
	}

	.button--shuffle::before {
		content: "\f074";
	}

	.button--add::before {
		content: "\f055";
	}

	.button--arrow::after {
		content: "\f061";
	}

	button svg,
	.button svg,
	.close-button svg {
		height: 1.2em;
	}

	.close-button,
	.arrow-button {
		display: flex;
		align-items: center;
		justify-content: center;
		aspect-ratio: 1;
		flex-shrink: 0;
		border: none;
		border-radius: 50%;
		background-color: var(--accent-color);
		box-shadow: var(--soft-shadow);
		color: var(--light-color);
		cursor: pointer;
		transition: background-color var(--transition),
			color var(--transition);
	}

	.close-button::before,
	.arrow-button::before {
		font: var(--fa-font-solid);
	}

	.close-button {
		width: 50px;
		font-size: 2rem;
	}

	.close-button::before {
		content: "\f00d";
	}

	.arrow-button {
		width: 40px;
		font-size: var(--text-base);
	}

	.arrow-button--left::before {
		content: "\f060";
	}

	.arrow-button--right::before {
		content: "\f061";
	}

	.slider-dots {
		position: relative;
		z-index: 3;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;
		margin-top: 2rem;
	}

	.slider-dot {
		transform: scale(0.65);
		display: block;
		width: 12px;
		height: 12px;
		flex-shrink: 0;
		background-color: transparent;
		border: var(--border-width) solid var(--light-color);
		border-radius: 50%;
		transition: background-color var(--transition),
			transform var(--transition);
	}

	.slider-dot--active {
		transform: none;
		background-color: var(--light-color);
	}

	@media (hover: hover) {
		.button:hover {
			text-decoration: none;
		}

		.button--primary:hover {
			background-position: 100% center;
			color: var(--dark-color);
		}

		.button--secondary:hover {
			background-color: var(--accent-color);
			color: var(--light-color);
		}

		.close-button:hover,
		.arrow-button:hover {
			background-color: var(--red-light);
			color: var(--dark-color);
		}
	}

	@media (min-width: 40em) {
		.button {
			font-size: var(--text-sm);
		}

		.button--small {
			padding: 0.65em 1.5em;
		}

		.button--mid {
			padding: 0.85em 1.5em;
		}

		.button--large {
			gap: 1.125rem;
			padding: 1.125rem 2.5rem;
			font-size: 1.125rem;
		}

		.arrow-button {
			width: 48px;
			font-size: var(--text-lg);
		}
	}
}
