@layer layout {
	html,
	body {
		padding: 0;
		margin: 0;
	}

	body {
		width: 100%;
		background: var(--body-bg);
		overflow-x: hidden;
		padding-bottom: 120px;
	}

	body.light {
		background: var(--body-bg-light);
	}

	main {
		position: relative;
		z-index: 2;
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	img,
	svg,
	iframe,
	video {
		display: block;
	}

	iframe {
		border: none;
	}

	img,
	svg {
		max-width: 100%;
		height: auto;
	}

	.fancy-image {
		position: relative;
	}

	.fancy-image::before,
	.fancy-image::after {
		position: absolute;
		inset: 0;
		display: block;
		content: "";
		pointer-events: none;
	}

	.fancy-image::before {
		z-index: 3;
		transform: translate(-8px, -8px);
		border: var(--light-border);
		border-radius: var(--border-radius);
	}

	.fancy-image::after {
		z-index: 2;
		background: linear-gradient(
			135deg,
			rgba(232, 52, 119, 0),
			rgba(232, 52, 119, 0.2)
		);
	}

	.fancy-image img {
		position: relative;
		z-index: 1;
		width: 100%;
		border-radius: var(--border-radius);
	}

	[onclick],
	button {
		cursor: pointer;
	}

	.section {
		position: relative;
		padding: var(--section-padding);
	}

	.swoops {
		position: relative;
	}

	.swoops--left {
		background: url("/images/background-images/swoops-left-mobile.svg")
			no-repeat left top / 100% auto;
	}

	.swoops--right {
		background: url("/images/background-images/swoops-right-mobile.svg")
			no-repeat right top / 100% auto;
	}

	.swoops::before {
		position: absolute;
		inset: auto 0 0 0;
		z-index: 1;
		display: block;
		height: 300px;
		background: linear-gradient(
			to top,
			rgba(19, 21, 22, 1),
			rgba(19, 21, 22, 0)
		);
		content: "";
		pointer-events: none;
	}

	.swoops > * {
		position: relative;
		z-index: 2;
	}

	.wrapper {
		width: 100%;
		margin: 0 auto;
	}

	.wrapper--narrow {
		max-width: var(--width-narrow);
	}

	.wrapper--content {
		max-width: var(--width-content);
	}

	.wrapper--section {
		max-width: var(--width-section);
	}

	.wrapper--wide {
		max-width: var(--width-wide);
	}

	.content-box {
		position: relative;
		width: 100%;
		max-width: var(--width-narrow);
		padding: 32px 16px;
		background: rgba(255, 255, 255, 0.05);
		border: var(--light-border);
		border-radius: var(--border-radius);
		backdrop-filter: blur(60px);
	}

	.content-box::before {
		position: absolute;
		inset: calc(var(--border-width) * -1)
			calc(var(--border-width) * -1) auto
			calc(var(--border-width) * -1);
		z-index: 2;
		display: block;
		height: var(--large-border-width);
		background: linear-gradient(to right, #e48784, #c83774);
		border-radius: var(--border-radius) var(--border-radius) 0 0;
		content: "";
		pointer-events: none;
	}

	.content-box h1,
	.content-box h2,
	.content-box h3,
	.content-box h4,
	.content-box h5,
	.content-box h6 {
		margin-bottom: 0.4em;
	}

	hr {
		margin: 32px auto;
		width: 75%;
		max-width: 700px;
		height: var(--border-width);
		border: none;
		background: var(--gray-cool);
	}

	.flex-line {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	.flex-line::before,
	.flex-line::after {
		display: block;
		flex: 1 0 auto;
		height: var(--border-width);
		background: var(--light-color);
		content: "";
	}

	.logo-icon {
		position: absolute;
		left: 50%;
		bottom: 0;
		z-index: 3;
		transform: translate(-50%, 50%);
		display: block;
		width: 60px;
		height: 60px;
		pointer-events: none;
	}

	.title-row {
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
		justify-content: space-between;
		gap: 16px;
		margin-bottom: 32px;
	}

	.title-row :where(h1, h2, h3, h4, h5, h6) {
		margin: 0;
	}

	/*----- lazy-loaded images -----*/

	.img--lazy {
		background-color: var(--gray-cool);
		background-position: 130% 0;
		background-size: 200% 100%;
		background-repeat: no-repeat;
		background-image: linear-gradient(
			to right,
			var(--gray-cool) 45%,
			var(--white-cool),
			var(--gray-cool) 65%
		);
		animation: img-loading 1200ms infinite ease-in-out;
	}

	.img--lazy.loaded {
		background: none;
		animation: none;
	}

	/*----- animations -----*/

	@keyframes img-loading {
		to {
			background-position: -30% 0;
		}
	}

	/*----- media queries -----*/

	@media (min-width: 50em) {
		.swoops--left {
			background-image: url("/images/background-images/swoops-left.svg");
		}

		.swoops--right {
			background-image: url("/images/background-images/swoops-right.svg");
		}
	}

	@media (min-width: 64em) {
		body {
			padding-bottom: 0;
		}

		.flex-line {
			gap: 16px;
		}

		.title-row {
			margin-bottom: 40px;
		}

		.content-box {
			padding: 48px 32px;
		}
	}
}
