@layer tooltips {
	.tooltip {
		--caret-width: 1.2rem;

		position: absolute;
		inset: -1rem auto auto 50%;
		transform: translate(-50%, calc(-100% + 1rem));
		z-index: 4;
		display: block;
		width: 200px;
		padding: 0.5rem;
		background: rgba(255, 255, 255, 0.75);
		backdrop-filter: blur(60px);
		box-shadow: var(--soft-shadow);
		border: var(--border-width) solid var(--white);
		border-radius: var(--border-radius);
		font-style: normal;
		text-align: center;
		color: var(--dark-color);
		opacity: 0;
		pointer-events: none;
		transition: opacity var(--transition), transform var(--transition);
	}

	.tooltip::before {
		position: absolute;
		inset: auto auto 1px 50%;
		transform: translate(-50%, 100%);
		width: var(--caret-width);
		border: calc(var(--caret-width) / 2) solid transparent;
		border-top-color: var(--white);
		content: '';
	}

	.tooltip__img {
		width: 100%;
		margin-bottom: 0.5rem;
		aspect-ratio: var(--gallery-item-aspect);
		border-radius: var(--border-radius);
		box-shadow: var(--light-shadow);
		object-fit: cover;
	}
	
	.tooltip__title {
		display: block;
		font-family: var(--font-family);
        font-weight: var(--font-weight-extrabold);
        text-transform: uppercase;
        letter-spacing: 0.3em;
        line-height: 1.35;
		font-size: var(--text-sm);
	}

	@media (hover: hover) {
		.has-tooltip:hover .tooltip {
			transform: translate(-50%, -100%);
			opacity: 1;
		}
	}
}