@layer typography {
	/*============================*/
	/*=====----- GLOBAL -----=====*/
	/*============================*/

	html {
		font-size: var(--text-base);
		line-height: 1.5;
	}

	body {
		font-family: var(--font-body);
		font-weight: var(--font-weight-normal);
		letter-spacing: 0.015em;
		color: var(--light-color);
	}

	strong,
	b {
		font-weight: var(--font-weight-semibold);
	}

	i,
	em {
		font-style: italic;
	}

	small {
		font-size: 0.75em;
	}

	.large-text {
		font-size: 1.25em;
		font-weight: var(--font-weight-semibold);
	}

	.underline {
		text-align: left;
	}

	.underline::after {
		display: block;
		width: 100%;
		max-width: 150px;
		height: 6px;
		margin-top: 0.125em;
		background: linear-gradient(to right, #e48784, #c83774);
		border-radius: 3px;
		content: "";
	}

	.underline--center {
		text-align: center;
	}

	.underline--center::after {
		margin: 0.125em auto 0;
	}

	.underline--right {
		text-align: right;
	}

	.underline--right::after {
		margin-left: auto;
	}

	@media (min-width: 64em) {
		.underline::after {
			max-width: 200px;
		}
	}

	/*===========================*/
	/*=====----- LINKS -----=====*/
	/*===========================*/

	a {
		background-color: transparent;
		color: var(--accent-color);
		text-decoration: underline;
		font-weight: var(--font-weight-semibold);
		transition: background-color var(--transition), color var(--transition);
		cursor: pointer;
	}

	@media (hover: hover) {
		.has-tooltip {
			position: relative;
			display: inline-block;
		}

		a:hover {
			background-color: var(--accent-color);
			color: var(--light-color);
		}
	}

	@media (min-width: 64em) {
		a {
			color: inherit;
			text-decoration: underline var(--accent-color) 2px;
			text-underline-offset: 2px;
		}
	}

	/*==============================*/
	/*=====----- HEADINGS -----=====*/
	/*==============================*/

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 0.75em;
		font-family: var(--font-heading);
		font-weight: normal;
		text-transform: uppercase;
		letter-spacing: 0.02em;
		line-height: 1;
	}

	:is(h1, h2, h3, h4, h5, h6) :is(strong, b, a) {
		font-weight: inherit;
	}

	h1 {
		font-size: 6.25rem;
		line-height: 0.84;
	}

	h1.small {
		font-size: 3.75rem;
		line-height: 1;
	}

	h2 {
		font-size: 3.75rem;
	}

	h3 {
		font-size: 1.875rem;
	}

	h4 {
		font-size: 1.25rem;
	}

	h5 {
		font-size: 1.125rem;
	}

	h6 {
		font-size: var(--text-base);
	}

	@media (min-width: 40em) {
		h1 {
			font-size: 8.25rem;
		}

		h2 {
			font-size: 5rem;
		}

		h1.small,
		h2.small {
			font-size: 4rem;
		}

		h3 {
			font-size: 2.5rem;
		}

		h4 {
			font-size: 1.75rem;
		}

		h5 {
			font-size: 1.25rem;
		}

		h6 {
			font-size: 1.125rem;
		}
	}

	@media (min-width: 64em) {
		h1 {
			font-size: 10.375rem;
		}

		h2 {
			font-size: 6.25rem;
		}

		h1.small,
		h2.small {
			font-size: 4.5rem;
		}

		h3 {
			font-size: 3.125rem;
		}

		h4 {
			font-size: 1.8125rem;
		}
	}

	@media (min-width: 90em) {
		h1 {
			font-size: 12.5rem;
		}

		h2 {
			font-size: 7.5rem;
		}

		h1.small,
		h2.small {
			font-size: 5rem;
		}

		h3 {
			font-size: 3.75rem;
		}

		h4 {
			font-size: 1.875rem;
		}
	}

	/*=======================================*/
	/*=====----- PARAGRAPHS, LISTS -----=====*/
	/*=======================================*/

	ul,
	ol {
		padding-inline-start: 24px;
		margin: 0;
	}

	p,
	ul,
	ol {
		margin-bottom: 1em;
	}

	/*==================================*/
	/*=====----- BLOCK QUOTES -----=====*/
	/*==================================*/

	.blockquote {
		position: relative;
		padding: 32px 0 16px 16px;
		margin: 40px 0 16px;
		border-radius: var(--border-radius) 0 0 0;
		border: var(--border-width) solid transparent;
		border-top-color: var(--accent-color);
		border-left-color: var(--accent-color);
		font-weight: var(--font-weight-normal);
		font-style: italic;
	}

	.blockquote::before {
		position: absolute;
		top: 0;
		left: 8px;
		transform: translateY(-50%);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 48px;
		height: 48px;
		border: var(--border-width) solid var(--accent-color);
		border-radius: 50%;
		background: var(--accent-color);
		content: "\f10d";
		font: var(--fa-font-solid);
		font-style: normal;
		font-size: 24px;
		line-height: 1;
		color: var(--light-color);
	}

	.cite {
		display: block;
		margin-top: 16px;
		font-style: normal;
	}

	@media (min-width: 40em) {
		.blockquote {
			padding-top: 44px;
			margin: 56px 0 0;
		}

		.blockquote::before {
			width: 64px;
			height: 64px;
			font-size: 28px;
		}
	}

	@media (min-width: 64em) {
		.blockquote {
			padding: 48px 0 32px 32px;
			margin: 48px 0 32px 0;
		}
	}

	/*=================================*/
	/*=====----- "NEW" BADGE -----=====*/
	/*=================================*/

	.new-badge {
		position: absolute;
		inset: 16px auto auto 16px;
		z-index: 4;
		display: block;
		padding: 6px 10px;
		background: var(--accent-color);
		border-radius: 999px;
		box-shadow: var(--med-shadow);
		font-family: var(--font-body);
		font-weight: var(--font-weight-extrabold);
		font-size: var(--text-sm);
		line-height: 1;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: var(--light-color);
		pointer-events: none;
	}
}
